:root {
  --primary: #7a5af5;
  --accent: #f0d06c;
  --bg-light: #faf9f7;
  --dark: #1a1a1a;
  --text: #2a2a2a;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-light);
  color: var(--text);
  overflow-x: hidden;
}

 header {
            background: #ffffffc7;
            backdrop-filter: blur(10px);
            z-index: 9999;
            transition: 0.35s ease;
        }

        body.dark-mode header {
            background: #000000cc;
        }

        nav .nav-link {
            color: var(--text-light);
            transition: 0.3s;
        }


.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;
}


.service-card {
  transition: .3s;
  border-radius: 16px;
}

.service-card:hover {
  transform: translateY(-6px);
}

.portfolio-img {
  border-radius: 16px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

footer {
  background: var(--dark);
  color: #fff;
  padding: 40px 0;
}
