<header class="position-fixed top-0 w-100 shadow-sm">
    <nav class="navbar navbar-expand-lg container">

        <a class="navbar-brand fw-bold m-0" href="#hero">
            <img style="width: 80px; height: 80px;" src="img/sitelogo-removebg-preview.png" alt="Vue Maison Logo">
            VUEMAISON
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav gap-3 align-items-center m-0">
                <li class="nav-item"><a class="nav-link fw-semibold" href="#services">Hizmetler</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" href="#portfolio">Projeler</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" href="#about">Hakkımızda</a></li>
                <li class="nav-item"><a class="nav-link fw-semibold" href="#contact">İletişim</a></li>
            </ul>
        </div>
    </nav>
</header>